on: push

name: Continuous integration

jobs:
  check:
    name: Lint, Check, Clippy, Test
    runs-on: ubuntu-latest
    steps:
      - name: alsa-dev
        run: sudo apt-get update && sudo apt-get install libasound2-dev

      - uses: actions/checkout@v6

      - run: rustup component add rustfmt clippy

      - run: cargo fmt --all -- --check
      - run: cargo check
      - run: cargo clippy --version
      - run: cargo clippy -- -D warnings
      - run: cargo test
